
@media screen and (min-width: 1025px) {

    .nav-button{
        display: none;
    }

    #root {
        letter-spacing: .03rem;
        font-family: "proxima-nova", sans-serif;

    }


    #star{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #arrow {
        display: none;
    }

    #plus-a{
        display: none;
    }
        #plus-b{
        display: none;
    }
    #plus-c{
        display: none;
    }

    .hero h1 {
    font-size: 40;
    letter-spacing: .06rem;
    font-weight: 200;
    width: 695px;
    /* margin-left: 9em; */
    /* margin-right: 9em; */
    text-align: center;
    color: white;
    text-shadow: 0px 6px 20px #000000;
        display: flex;
    flex-direction: column;
    }

    .hero {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.40),
                rgba(0, 0, 0, 0.0)
        ), url('reading2.jpg');
        background-size: cover;
        height: 78%;
        backface-visibility: visible;
        justify-content: center;
        justify-items: center;
        padding-top: 3em;
        display: flex;
        margin-top: 125px;
    }

    .hero-about {
        background-image: url('reading1.jpg');
        background-size: cover;
        height: 60%;
        background-position-y: center;

        backface-visibility: visible;
        display: flex;
        flex-direction: column;
    }

    .mission {
        color: #454545;
        border-bottom: 1px solid;
        background-color: #efeeee;
        padding-bottom: 70px;
        padding-top: 10px;

           display: flex;
        border-top: 1px solid;
        flex-direction: column;
    }

    .mission h1 {
        margin-top: 40px;
        font-weight: 300;
        letter-spacing: .07rem;
        text-align: center;
        margin-bottom: 30px;

    }

    .mission h3 {
    font-weight: 200;
    align-self: center;
    /* margin-left: 7em; */
    max-width: 63rem;
    /* margin-right: 7em; */
    text-align: center;
    }


    .people {
        margin-top: 125px;
        display: block;
        text-align: center;
    }


    .LOGO {
        z-index: 300;

        background-color: white;
        width: 100%;
        color: #065135;
        /*border-bottom: 1px solid #053d28;*/
        border-bottom: 1px solid #065135;
        position: fixed;
        top: 0;
        display: flex;
        height: 75px;
        padding-top: 3px;
        padding-left: 1em;

    }

    .LOGO h1 {
        font-family: sans-serif;
        font-style: italic;
        font-size: 34;
        letter-spacing: 0px;
        width: 227px;
        padding-top: 6px;
        line-height: 0.9;
        text-align: center;
        cursor: pointer;
        font-weight: 600;
    }

    #line {
        border-right: 2px solid #065135;
        margin-right: .5em;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .LOGO img {
        margin-top: 1px;
        height: 63px;
        cursor: pointer;

    }

    .navbar-element {
        transition: 0.3s;
        float: left;
        margin-top: auto;
        margin-bottom: auto;
        font-family: "proxima-nova", sans-serif;
        font-weight: 200;
        text-align: center;
        font-size: 1.125rem;
         border-bottom:none;
        line-height: 2.9;
        height: 100%;
        width: 100%;
    }

    .navbar-element-sub {
        z-index: 2000;
        transition: 0.3s;
        float: left;
        border-bottom: none;
        margin-top: auto;
        margin-bottom: auto;
        font-family: "proxima-nova", sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 1.125rem;
        line-height: 2.9;
        height: 100%;
        width: 100%;

    }

    .menu-container {
        top: 0;
        width: 100%;
        margin-top: 75px;
        padding-left: 7em;
        padding-right: 0em;
        z-index: 300;
        height: 51px;
        color: #065135;
        font-family: "proxima-nova", sans-serif;
        background-color: white;
        position: fixed;
        border-left: none;

        border-bottom: 1px solid #066e47;
        /*border-top: 1px solid #066e47;*/
        justify-content: space-between;
        display: flex;
    }
        .menu-container.menu-container-visible {
        top: 0;
        width: 100%;
        margin-top: 75px;
        padding-left: 7em;
        padding-right: 0em;
        z-index: 300;
        height: 51px;
        color: #065135;
        font-family: "proxima-nova", sans-serif;
        background-color: white;
        position: fixed;
        border-left: none;

        border-bottom: 1px solid #066e47;
        /*border-top: 1px solid #066e47;*/
        justify-content: space-between;
        display: flex;
    }


    .menu {
        display: flex;
        width: 52%;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    #f {
        padding-right: 5px;

    }

    .menu2 {
        display: flex;
        width: 51%;
        list-style-type: none;
        margin: 0;

        background-color: #065135;
        color: white;
        padding: 0;
    }

    .menu:hover ~ .menu2 {
        transition: 0.075s;
        opacity: .2;
        background-color: white;
        color: #065135;
    }


    .menu:hover .navbar-element-sub:not(:hover) {
        transition: 0.3s;
        opacity: .2;
    }

    .navbar-element:hover {
        cursor: pointer;
    }

    .navbar-element-sub:hover {
        cursor: pointer;
    }

    .sub {
        list-style-type: none;
        display: flex;
        background-color: white;
        color: #585858;
        position: absolute;
        left: 0;
        right: 0;
        top: 47px;
        overflow: hidden;
        height: 0;
        justify-content: space-evenly;
        transition: height 0.25s ease-in-out;
    }
    .menu .sub-a-hidden {
        padding-left: 0.5vw;
        padding-right: 66vw;
    }
    .menu .sub-b-hidden{
        padding-left: 13vw;
        padding-right: 49vw;

    }
    .menu .sub-c-hidden{
        padding-left: 29vw;
        padding-right: 34vw;

    }
    .menu .sub-a-hidden.sub-a-show {
        padding-left: 0.5vw;
        padding-right: 66vw;
    }
    .menu .sub-b-hidden.sub-a-show{
        padding-left: 13vw;
        padding-right: 49vw;

    }
    .menu .sub-c-hidden.sub-a-show{
        padding-left: 29vw;
        padding-right: 34vw;

    }


    #a {
        /*padding-left: 1em;*/
        /*padding-right: 47.9em;*/
        padding-left: 0.5vw;
        padding-right: 66vw;
    }

    #b {
        /*padding-left: 11.65em;*/
        /*padding-right: 37.6em;*/
        padding-left: 13vw;
        padding-right: 49vw;
    }

    #c {
        /*padding-left: 22.1em;*/
        /*padding-right: 25.39em;*/
        padding-left: 28vw;
        padding-right: 33vw;
    }

    #d {
        padding-right: 1.5em;
        background-color: white;
        color: #065135;

    }


    #e {
        color: inherit;
        /*width: 28%;*/
        background-color: inherit;
        padding-left: 60px;
        padding-right: 150px;
    }

    .sub li {
        margin-top: auto;
        margin-bottom: auto;
        font-family: "proxima-nova", sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 16px;
        border-top: 1px solid #065135;

        line-height: 2.65;
        width: 100%;

    }

    .sub li:hover {
        color: #0a8356;
    }

    .navbar-element-sub:hover .sub {
        height: 51px;
        transition: height 0.25s ease-in-out;
        border-bottom: 1px solid #066e47

    }

    /*.bg-image{*/
    /*    overflow: hidden;*/
    /*    background-image: url("openbook.jpg");*/
    /*    background-size: cover;*/
    /*    backface-visibility: visible;*/
    /*    width: 100%;*/
    /*    height:100%;*/
    /*    position:absolute;*/
    /*    z-index: -1;*/
    /*    !*filter: blur(2px);*!*/
    /*    !*-webkit-filter: blur(2px);*!*/
    /*}*/
    .bg-image {
    background-image: url(thumbs_up.jpg);
        background-size: cover;
        /* max-height: 65%; */
        height: 480px;
        width: 100%;
        margin-top: 10px;
        /* margin-top: -55px; */
        backface-visibility: visible;
        /* display: flex; */
        background-position-y: center;
    }
    .slidein {
  opacity: 0;
  transform: translateX(300px);
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

.slidein-visible {
  opacity: 1 !important;
  transform: translateX(0) !important;
}


    .bg-image-approach {
        background-image: url(classroom_crop.jpg);
        background-size: cover;
        height: 65%;
        margin-top: 125px;
        /* margin-top: -55px; */
        backface-visib6lity: visible;
        display: flex;
        background-position-y: center;
    }

    .payment {
        height: 100%;
        display: block;
        margin-bottom: 1em;
    }

    .payment-header {
        text-align: center;
        margin: 20px 200px 0px;
        font-weight: 200;
        z-index: 100;
        color: #2d2d2d;
        font-size: 3.7rem;
    }

    .payment-container {
        padding: 20px;
        border: 1px solid;
        text-align: center;
        z-index: 100;
         margin-left: auto;
        margin-right: auto;
        width: 470px;
        height: 420px;
        background-color: white;
    }

    .payment-container h5 {
        font-weight: 400;
        font-size: 1.1875rem;
        letter-spacing: .06rem;
        color: #5e5c5c;
        padding: 10px;
    }

    .payment-container h4 {
        font-weight: 200;
        font-size: 34;
        letter-spacing: .2rem;
        color: #5e5c5c;
    }

    .medal-container {
        padding: 20px;
        border: 1px solid;
        text-align: center;
        z-index: 100;
         margin-left: auto;
        margin-right: auto;
        width: 470px;
        height: 420px;
        background-color: white;
    }

    .medal-container h5 {
        font-weight: 400;
        font-size: 1.1875rem;
        letter-spacing: .06rem;
        color: #5e5c5c;
        padding: 10px;
    }

    .medal-container h4 {
        font-weight: 200;
        font-size: 34;
        letter-spacing: .2rem;
        color: #5e5c5c;
    }

    .payment-container h4 {
        font-weight: 200;
        font-size: 34;
        letter-spacing: .2rem;
        color: #5e5c5c;
    }

    .amount {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
    }

    .amount label {
        padding-left: 15px;
        font-size: 20;
        font-weight: 100;
        margin-top: auto;
        margin-right: 1em;
        margin-bottom: 0;
    }

    .input-div {
        margin: auto;
        border-bottom: 1px solid;
        width: 70%;
        line-height: 1;


    }


    .input-div input {
        border: none;
        width: 100%;
        font-size: 30;
        font-weight: 100;
        padding-left: 100px;
    }

    .home-stats {
        background-image: url(child_reading2.jpg);
        background-size: cover;

        /* margin-top: -55px; */
        backface-visibility: visible;
        display: flex;
        overflow-x: hidden;

        margin-bottom: 40px;
        /*padding-left: 7em;*/
        /*padding-right: 32em;*/
        border-bottom: 1px solid;

        flex-direction: column;
    }

    .home-stats button {
        font-family: "proxima-nova", sans-serif;
        background-color: #086845;
        color: #fff;
        font-weight: 300;
        font-size: 1.5rem;
        height: 60px;
        padding: 4px 22px 4px;
        letter-spacing: 1;
        cursor: pointer;
        border-radius: 7px;
    }


    .home-stats h1 {
    font-family: "proxima-nova", sans-serif;
    /* padding-left: 2.2em; */
    /* padding-right: 12.3em; */
    font-weight: 300;
    font-size: 2.7em;
    position: relative;
    left: 50px;
    padding-top: 150px;
    max-width: 56rem;
    padding-bottom: .5em;
    color: #3e3d3d;
    letter-spacing: .06rem;
    }

    .home-stats h3 {
    font-family: "proxima-nova", sans-serif;
    /* padding-left: 4em; */
    /* padding-right: 4em; */
    max-width: 40rem;
    position: relative;
    left: 50px;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 2em;
    color: #3e3d3d;
    letter-spacing: .03rem;
    }

    .home-stats span {
font-size: 1.5rem;
    font-weight: 200;
    margin-left: 1.45em;
    line-height: 2.65;
    cursor: pointer;
    }

    .donate-banner button {
        font-family: "proxima-nova", sans-serif;
        background-color: #086845;
        color: #fff;
        font-weight: 300;
        font-size: 1.5rem;
        height: 60px;
        padding: 4px 22px 4px;
        margin-left: auto;
        letter-spacing: 1;
        cursor: pointer;
        border-radius: 7px;
        float: left;

    }

    .run-text button {
        font-family: "proxima-nova", sans-serif;
        background-color: #086845;
        color: #fff;
        font-weight: 300;
        font-size: 1.5rem;
        height: 60px;
        padding: 4px 22px 4px;
        margin-left: auto;
        letter-spacing: 1;
        cursor: pointer;
        border-radius: 7px;
        float: left;

    }

    .donate-banner {
        border: 1px solid;
        margin-top: 4em;
        margin-bottom: 4em;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        max-width: 48em;
        justify-content: center;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;

    }

    .fb_iframe_widget {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;

    position: relative;
        }

.fb-container{
display: flex;
    /* flex-direction: column; */
    margin-right: 2em;
    /* margin-left: auto; */
    align-items: center;

}


.facebook:hover {
    opacity: 0.7;
}

.facebook {
width: 40px;
    height: 40px;
    background-image: url(facebook.png);
    background-size: cover;
    margin-right: 2em;
}

.instagram:hover {
    opacity: 0.7;
}

.instagram {
width: 40px;
    height: 40px;
    margin-right: 2em;
    align-self: center;
    margin-left: auto;
    background-image: url(instagram.png);
    background-size: cover;
}

    .donate-banner-run {

        margin-left: auto;
        margin-right: auto;
        display: flex;
        max-width: 48em;
        justify-content: center;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;

    }

    .donate-banner h4 {
        font-family: "proxima-nova", sans-serif;
        font-size: 1.36em;
        line-height: 1.45;
        letter-spacing: 1.1;
        /* margin-right: 1em; */
        font-weight: 100;
        padding: 0;
        margin-left: 10em;


    }

    .button-div {
        display:block;
    }

    .get-involved {
        display: block;
        background-color: white;
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 4em;
        padding-bottom: 4em;
        border-bottom: 1px solid;
    }

    .get-involved h1 {
        font-family: "proxima-nova", sans-serif;
        font-weight: 200;
        text-align: center;
        font-size: 50;
    }

    .get-involved h3 {
        font-family: "proxima-nova", sans-serif;
        font-weight: 200;
        font-size: 30;
        text-align: center;
        padding-bottom: 1.5em;
    }

    .involved-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .involved-container .donate-medals {
        display: flex;
        flex-direction: column;
    }

    .involved-container .donate-medals h4 {
        text-align: center;
        font-size: 19;
        margin-bottom: 1em;
    }

    .involved-container .donate-money {
        display: flex;
        flex-direction: column;

    }

    .involved-container .donate-money h4 {
        text-align: center;
        font-size: 19;
        margin-bottom: 1em;
    }


    .involved-container .donate-time h4 {
        text-align: center;
        font-size: 19;
        margin-bottom: 1em;
    }

    .involved-container .donate-time {
        display: flex;
        flex-direction: column;

    }


    .involved-container .request-medal {
        display: flex;
        flex-direction: column;

    }

    .involved-container .request-medal h4 {
        text-align: center;
        font-size: 19;
        margin-bottom: 1em;

    }

    .involved-container button {
        font-family: "proxima-nova", sans-serif;
        background-color: #065135;
        color: #fff;
        font-weight: 300;
        font-size: 1rem;
        padding-right: 10px;
        padding-left: 10px;
        height: 50px;
        width: 185px;
        margin-top: auto;

        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1;
        cursor: pointer;
        border-radius: 7px;
    }

    .paralax h1 {
        /*margin-right: 1em;*/
        /*    margin-left: 1em;*/
        text-align: center;
        color: #2f2f2f;
        font-family: "proxima-nova", sans-serif;
        padding-top: 65px;
        font-size: 3.5rem;
        padding-left: 0;
        font-weight: 400;
        overflow-x: hidden;
    }

    .paralax #info {
        margin-top: 1.3em;
        font-size: 2.5em;
        margin-left: 2.5em;
        color: inherit;
        margin-right: 2.5em;
        font-weight: 200;
        /* line-height: 1.6; */
        text-align: center;
    }

    .paralax {
        background-image: url(child2_reading.jpg);
        background-size: cover;
        /*overflow-x: auto;*/
        height: 500px;
        padding-left: 25em;
        backface-visibility: visible;
        z-index: -1;
        background-attachment: fixed;
        background-position-y: top;
        overflow-x: hidden;
        background-repeat: no-repeat;
    }


    .paralax-2 {
        background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url(chalkboard_2.jpg);
        background-size: cover;
        /* overflow-x: auto; */
        height: 100%;
        padding-left: 1em;
        text-align: center;
        padding-right: 1em;
        backface-visibility: visible;
        z-index: -1;
            font-size: inherit;

        background-attachment: fixed;
        background-position-y: center;
        overflow-x: hidden;
        background-repeat: no-repeat;
    }

    #stats-a {
        margin-top: 4em;
    }


    .issue {
        margin-top: 125px;

    }

    .issue h2 {
        /*margin-right: 1em;*/
        /*    margin-left: 1em;*/
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        padding-top: 40px;
        font-size: 3.5rem;
        font-weight: 400;
        overflow-x: hidden;
    }

    #underline {
          border-top: 10px solid #065135;
        padding-top: 20;
        margin-top: .2em !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 23em;
    }

    #underline-2 {
        border-top: 10px solid #065135;
        padding-top: 20;
        margin-top: .2em !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 14em;
        margin-bottom: 2em;
    }

    #underline-3 {
        border-top: 10px solid #065135;
    padding-top: 20;
    margin-top: .2em !important;
    margin-left: auto;

    margin-right: auto;
    max-width: 50rem;
    margin-bottom: 2em;
    }


    .paralax-2 div {
        margin-top: 2.5em;
        margin-bottom: 2.5em;

    }

    .paralax-2 div span {
        font-size: 2.7vw;
        color: #e1a916;
        vertical-align: middle;
        font-weight: 500;
    }

    .paralax-2 div #span-a {

        font-size: 4.45vw;
        color: #e1a916;
        font-weight: 500;
        display: inline;
        vertical-align: bottom;
        line-height: 1.8;

    }

    .paralax-2 #normal {
        font-size: 1.8vw;

        color: white;
        display: inline;
        line-height: 4.075;
        margin-bottom: 0;
        vertical-align: middle;
        margin-top: 0;
        font-weight: 200;
    }
    .menu-container-visible{
        top: 0;
        width: 100%;
        margin-top: 75px;
        padding-left: 7em;
        padding-right: 0em;
        z-index: 300;
        height: 51px;
        color: #065135;
        font-family: "proxima-nova", sans-serif;
        background-color: white;
        position: fixed;
        border-bottom: 1px solid #066e47;
        /*border-top: 1px solid #066e47;*/
        justify-content: space-between;
        display: flex;
    }

    #impact ul {
        margin-top: 1em;
        list-style-type: none;
        font-size: inherit;
    }

    .button-div-h{
        display: flex;
    position: relative;
    left: 50px;
        flex-direction: row;
    margin-bottom: 6em;
    }

    .navbar-element-sub span {
        padding-left: 18px;
        font-weight: 300;

    }

    .wrapper:hover #slide {
        transition: 1s;
        left: 0;
    }

    #stats h3 {
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        /*padding-top: 55px;*/
        font-size: 3.7rem;

        font-weight: 400;
    }

    .paralax-3 {
        background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url(openbook.jpg);
        background-size: cover;
        /* overflow-x: auto; */
        height:100%;
        padding-left: 1em;
        text-align: center;
        padding-right: 1em;
        backface-visibility: visible;
        z-index: -1;
            font-size: inherit;

        background-attachment: fixed;
        background-position-y: center;
        overflow-x: hidden;
        background-repeat: no-repeat;
    }

    .paralax-3 li {
    font-size: 2.9vw;
    color: white;
    margin: 2em;
    vertical-align: middle;
    font-weight: 300;
    }

    .approach h1 {
        /*margin-right: 1em;*/
        /*    margin-left: 1em;*/
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        padding-top: 40px;
        font-size: 3.8rem;
        font-weight: 400;
        overflow-x: hidden;
    }

    #underline-approach {
        border-top: 10px solid #065135;
        padding-top: 20;
        margin-top: .2em !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 16em;
        margin-bottom: 2em;

    }

    .approach-container {
        display: block;
    }

    .approach-container .approach-box-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 4vw;
        align-items: center;
        margin-right: 4vw;
        margin-bottom: 3em;

    }

    .approach-container h2 {
        text-align: center;
        color: #065135;
        font-family: "proxima-nova", sans-serif;
        padding-top: 20px;
        font-size: 2.8rem;
        font-weight: 400;
        overflow-x: hidden;
    }

    .approach-box-1 .approach-text {
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        font-size: 1.4rem;
        vertical-align: middle;
        font-weight: 200;
        padding: 1em;
        padding-top: 0;
        line-height: 2.1;
        margin-bottom: 0;

    }

    .approach-box-2 .approach-text {
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        font-size: 1.4rem;
        vertical-align: middle;
        font-weight: 200;
        padding: 1em;
        padding-top: 0;
        line-height: 2.1;
        margin-bottom: 0;

    }

    .approach-box-3 .approach-text {
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        font-size: 1.4rem;
        vertical-align: middle;
        font-weight: 200;
        padding: 1em;
        padding-top: 0;
        line-height: 2.1;
        margin-bottom: 0;
    }


    .approach-container .approach-box-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 4vw;
        align-items: center;
        margin-right: 4vw;
        margin-bottom: 3em;

    }

    .approach-container .approach-box-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 4vw;
        align-items: center;
        margin-right: 4vw;
        margin-bottom: 6em;

    }


    .story-container {
        display: block;
    }


    .story-container .story-box-1 {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: 5em;
        max-width: 70rem;

    }


    .story-container h2 {
        text-align: center;
        color: #065135;
        font-family: "proxima-nova", sans-serif;
        padding-top: 20px;
        font-size: 2.8rem;
        font-weight: 400;
        overflow-x: hidden;
    }

    .story-box-1 .story-text {
       text-align: center;
        width: 50%;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        font-size: 1.3rem;
        vertical-align: middle;
        font-weight: 200;
        align-self: center;
        padding: 1em;
        line-height: 1.8;
    }

    .story-box-2 .story-text {
        text-align: center;
        width: 50%;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        font-size: 1.3rem;
        vertical-align: middle;
        font-weight: 200;
        align-self: center;
        padding: 1em;
        line-height: 2;

    }

    .story-box-3 .story-text {
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        font-size: 1.3rem;
        width: 50%;
        vertical-align: middle;
        align-self: center;
        font-weight: 200;
        padding: 1em;
        line-height: 2;

    }


    .story-box-4 .story-text {
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        font-size: 1.3rem;
        width: 50%;
        vertical-align: middle;
        align-self: center;
        font-weight: 200;
        padding: 1em;
        line-height: 2;

    }


    .story-container .story-box-4 {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: 5em;
        max-width: 70rem;

    }

    .story-container .story-box-2 {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: 5em;
        max-width: 70rem;

    }

    .story-container .story-box-3 {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: 5em;
        max-width: 70rem;

    }


    .people-container {
        display: block;
    }

    .person {
        width: 100%;
        padding: 1em;
    }
    #olivia .person-info{

            display: grid;
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border: 1px solid;
    height: 300px;
    }
    #olivia .person-info img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
            margin-top: 20px;

    }

    #olivia .person-info h2{
        font-size: 25;
        padding: none;

    }
    #olivia .person-info h3{
        font-size: 18;
        padding: none;

    }
    .home .donate-money-2 {
        display: flex;
        flex-direction: column;
    }

    #olivia span{
        border: none;
        padding: 0px;

    }
    .home-slide{
        display: block;
        padding-top: 0;
    }
    .home{
        padding-top: 0;
    }

    .person-info {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 65rem;
        margin-bottom: 2em;

    }
    #notice{
       color:  #5e5c5c;
        text-align: center;
        margin-top: 2em;
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    .person span {
        /* padding-right: 5em; */
        border-right: 1px solid;
        text-align: left;
        border-top: 1px solid;
        padding-right: 2em;
        color: #454545;
        padding-left: 2em;
        margin-bottom: 0;
        font-weight: 200;
        font-size: 1.05rem;
        border-bottom: 1px solid;
    }

    .people-container img {
        width: 450px;
        height: auto;
        border: 1px solid;
        justify-self: center;
    }

    .people-container h2 {
        width: 100%;
        text-align: center;
        color: #065135;
        font-weight: 600;
        font-family: "proxima-nova", sans-serif;
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: .5em;
        letter-spacing: -.5;
    }

    .people-container h3 {
        width: 100%;
        text-align: center;

    }

    #underline-4 {
        border-top: 10px solid #065135;
        padding-top: 20;
        margin-top: .2em !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 13em;
        margin-bottom: 2em;
    }


    .people h1 {
        margin-top: 1em;
        font-size: 3.8rem;
    }


    .approach-container img {
        max-width: 550px;
        height: auto;
    }
    .approach-box-2 img {
        max-width: 550px;
        height: auto;
        justify-self: right;
    }

    .bg-image-progress {
        background-image: url(reading3_crop.jpg);
        background-size: cover;
        height: 65%;
        margin-top: 121px;
        backface-visibility: visible;
        display: flex;
        background-position-y: bottom;
    }

    .progress-text {
        margin-right: auto;
        margin-left: auto;
        font-weight: 200;
        max-width: 38em;
        color: #454545;
        font-size: 1.6rem;
        text-align: center;
    }

    .progress-page h1 {
        text-align: center;
        font-size: 3.8rem;
        padding-top: 1em;

    }


        .bg-image-progress {
        background-image: url(reading3_crop.jpg);
        background-size: cover;
        height: 65%;
        margin-top: 121px;
        backface-visibility: visible;
        display: flex;
        background-position-y: bottom;
    }

    .run-text {
        margin-right: auto;
        margin-left: auto;
        font-weight: 200;
        max-width: 38em;
        color: #454545;
        font-size: 1.6rem;
        text-align: center;
    }

    .run-page h1 {
            margin-top: 100px;

        text-align: center;
        font-size: 3.8rem;
        padding-top: 1em;

    }

   .contact h1 {

        text-align: center;
        font-size: 3.8rem;
        padding-top: .5em;

    }
    .donation-container{
        max-width: 75rem;
        margin-right: auto;
        margin-left: auto;
        display: flex;
    }
    .contact {
        margin-right: auto;
        margin-left: auto;
        margin-top: 125px;
         float: none;
        font-weight: 200;
        justify-self: center;
        /* display: flex; */
        max-width: 65rem;
        /* align-items: center; */
        color: #454545;
        font-size: 1.6rem;

    }

    #underline-8 {
        border-top: 10px solid #065135;
        padding-top: 20;
        margin-top: .2em !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 9em;
        margin-bottom: 1em;
    }

    #underline-5 {
        border-top: 10px solid #065135;
        padding-top: 20;
        margin-top: .2em !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 11em;
        /* justify-self: center; */
        margin-bottom: 2em;
    }


    .mission-text {
        margin-right: auto;
        margin-left: auto;
        font-weight: 200;
        max-width: 58rem;
        color: #454545;
        font-size: 1.45rem;
        text-align: center;
    }

    .our-mission h1 {
        text-align: center;
        font-size: 3.8rem;
        padding-top: 1em;

    }

    .bg-image-mission {
        background-image: url(children_banner.jpg);
        background-size: cover;
        height: 65%;
        margin-top: 121px;
        backface-visibility: visible;
        display: flex;
        background-position-y: bottom;
    }


    .our-story h1 {
        text-align: center;
        font-size: 3.8rem;
        padding-top: 1em;

    }


    /*.story-text{*/
    /*    margin-right: 6em;*/
    /*    margin-left: 6em;*/
    /*    font-weight: 200;*/
    /*    color: #454545;*/
    /*    font-size: 1.4rem;*/
    /*    text-align: center;*/
    /*}*/
    /*.bg-image-story{*/
    /*    background-image: url(boad.JPG);*/
    /*    background-size: cover;*/
    /*    height: 65%;*/
    /*    margin-top:125px;*/
    /*    backface-visibility: visible;*/
    /*    display: flex;*/
    /*    background-position-y:  bottom;*/
    /*}*/
    .our-story {
        justify-content: center;
    }

    .mySlides {

        display: none;
        max-width: 100%;
        margin-top: 125px;
        max-height: 480px;
        margin-left: auto;
        margin-right: auto;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }


    .story-container img {
        width: 50%;
        height: auto;
        object-fit: cover;
    }

    #banner {
        display: grid;
        justify-content: center;
        margin-top: 125px;
        padding-bottom: 1em;
        background-color: #065135;
        border-bottom: 1px solid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    }

    #banner img {
        width: 90%;
        margin-top: 1em;
        /* border-bottom: 1px solid; */
        justify-self: center;
    }

    .paralax-3 span {
        font-size: 3.5vw;
            color: #e1a916;
            font-weight: 500;
    }


    .bg-image-request {
        background-image: url(medals.jpg);
        background-size: cover;
        max-height: 100%;
        margin-top: 125px;
        backface-visibility: visible;
        padding-right: 48vw;
        font-weight: 100;
                border-bottom: 1px solid;

        min-height: 569px;
        font-size: 1.8rem;
        padding-left: 1em;
        color: #454545;
        text-align: center;
        margin-bottom: 0;

    }

    #underline-6 {
    border-top: 10px solid #065135;
    padding-top: 20;
    margin-top: .2em !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    max-width: 10em;
    }

    .bg-image-request h2 {
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        padding-top: 40px;
        font-size: 3.5rem;
        font-weight: 400;
        overflow-x: hidden;
        margin-right: 0;

    }

    .request {
        display: block;
    }
        #break {
        display: block;
    }

    .bg-image-volunteer h2 {
        text-align: center;
        color: #454545;
        font-family: "proxima-nova", sans-serif;
        padding-top: 40px;
        font-size: 3.8rem;
        font-weight: 400;
        overflow-x: hidden;

    }

    .volunteer {
        display: block;
    }

    .bg-image-volunteer {
        background-image: url(hands_big.jpg);
        background-size: cover;
        min-height: 600px;
        margin-top: 125px;
        backface-visibility: visible;
        font-weight: 300;
        font-size: 30;
        color: #454545;
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        border-bottom: 1px solid;


    }

    .volunteer-text {
        margin-top: 2em;
        margin-right: 4vw;
        margin-left: 4vw;
        font-weight: 200;
        margin-bottom: 2em;
        color: #454545;
        font-size: 1.6rem;
        text-align: center;
    }

    #underline-7 {
        border-top: 10px solid #065135;
        padding-top: 20;
        margin-top: .2em !important;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .5em;
        max-width: 32rem;
    }

    .amounts {
        font-weight: 100;
        font-size: 1.75rem;
        letter-spacing: .06rem;
        margin-top: 1em;
        color: #5e5c5c;
        padding: 10px;
        justify-content: space-between;
        display: flex;
    }

    .amounts div {
        float: left;
        border: 1px solid;
        padding-left: .4em;
        padding-right: .4em;
        padding-top: .1em;
        border-radius: 9px;
        padding-bottom: .1em;

    }

    .payment-container button {
        font-family: "proxima-nova", sans-serif;
        background-color: #086845;
        color: #fff;
        font-weight: 300;
        font-size: 1.5rem;
        height: 60px;
        padding: 4px 22px 4px;
        margin-left: inherit;
        /* margin: auto; */
        /* margin-right: 0; */
        margin-top: .5em;
        align-self: center;
        letter-spacing: 1;
        cursor: pointer;
        border-radius: 7px;
        float: left;

    }

    .vintage-logo{
        background-image: url(vintage_logo.jpg);
    background-size: contain;
    height: 360px;
     float: left;
    display: inline-block;
    width: 360px;
    /* margin-right: auto; */
    }

    .order-md-1 {
        margin-right: auto;
        margin-left: auto;
        border: 1px solid;
        margin-bottom: 1em;
        padding: 1.5em;
        border-radius: 5px;
        background-color: #80808017;

    }

    .mb-3 {
        display: flex;
        flex-direction: column;
    }

    .mb-3 button {
        font-family: "proxima-nova", sans-serif;
        background-color: #086845;
        color: #fff;
        font-weight: 300;
        font-size: 1.5rem;
        height: 60px;
        margin-top: 1em;
        padding: 4px 22px 4px;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1;
        cursor: pointer;
        border-radius: 7px;
    }

    .LOGO-2 a{
        display:flex;
    }

    .footer{
background-color: #065135;
    height: 200px;
    padding-top: 0;
    margin-bottom: .25em;
    display: flex;
    padding-left: 19vw;
    padding-right: 22vw;
        flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    a{
    color:inherit!important;}

    a:hover {
        color: inherit!important;
        text-decoration: none!important;
    }

    .footer > a img {
        margin-top: 1px;
        height: 150px;
        margin-left: auto;
    }
    .footer .logo-footer{
        font-family: sans-serif;
        font-style: italic;
        font-size: 34;
        letter-spacing: 0px;
        width: 227px;
        padding-top: 6px;
        line-height: 0.9;
        text-align: center;
        cursor: pointer;
        font-weight: 600;
    }

    #olivia{
        margin-top: 1em;
    }

        .involved-container a{
            margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    }


    .footer ul{
        display:none;
    }

        .team{
        display: flex;
        flex-direction: row;
    }

    input[type="image"] {
    width: 50%;
}




  .footer  .LOGO-2 {
    z-index: 300;
    /* background-color: white; */
    width: 302px;
    color: white;
    /* border-bottom: 1px solid #053d28; */
    /* border-bottom: 1px solid #065135; */
    display: flex;
    height: 75px;
    margin-left: 0;
    margin-right: 0;


    }

   .footer .LOGO-2 h1 {
        font-family: sans-serif;
        font-style: italic;
        font-size: 34;
        letter-spacing: 0px;
        width: 227px;
        padding-top: 6px;
        line-height: 0.9;
        text-align: center;
        cursor: pointer;
        font-weight: 600;
    }
    .footer .address{
    color: white;
    font-size: 0.8em;
    font-weight: 100;
    /* letter-spacing: 0.03rem; */
    height: 75px;
    padding: 7px;
        margin-top: 0;
        max-width: 100%;
    margin-left: 2em;
    margin-right: auto;
    line-height: 1;
    }
    .footer #line {
        border-right: 2px solid white;
        margin-right: .5em;
        margin-top: .5em;
        margin-bottom: .5em;
    }

        .contact-link{
            padding-top: 10px;
    text-decoration: underline;
            /* text-underline-position: left; */
            margin-right: 35px;
            cursor: pointer;
        }
    .text-muted {
    color: #6c757d!important;
}
        .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

    .contact-text {
            float: left;
        width: 62%;
        font-size: 1.7rem;
        vertical-align: center;
        margin-top: 3em;
    }

    .footer .LOGO-2 img {
        margin-top: 1px;
        height: 63px;
        cursor: pointer;

    }

}
